<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
    <h1>Filler stuff </h1>
    <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
    <a href="/">Home</a>
  
  {{#if hosting}}
  <p>If you can see this, congratulations, that means you have hosting priviliges!!!</p>
  {{/if}}
  
  <p>The name of this room is {{pageName}}</p>
</body>
</html>