<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
    <h1>Filler stuff </h1>
    <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
    <a href="/">Home</a>
</body>
</html>