<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
    <h1>Welcome to {{pageName}}</h1>
    <p>{{currentName}}</p>
    <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/djroom">Join Room</a>
  <a href="/djhost">Create Room</a>
</body>
</html>